body {
  margin: 0;
  padding: 0;
  background-color: #a4b6ee;
}

form {
  margin-top: 100px;
  margin-left: 300px;
}

form input {
  height: 40px;
  width: 300px;
  border-radius: 1px;
  border-style: none;
}

form button {
  height: 40px;
  width: 100px;
  font-size: 17px;
  border-radius: 5px;
  border-style: none;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-left: -300px;
}

ul li {
  list-style-position: inside;
  border-bottom: 1px solid rgb(145, 142, 142);
  height: 30px;
  width: 500px;
  margin: 20px 0 10px 0;
  color: #ffffff;
  text-decoration: none;
}

/* Will be back */
li:hover {
  background-color: #99567c;
  margin: 20px 0 -10px 0;
  /* height: 70%; */
}

#list {
  margin-left: 200px;
}

#add {
  margin-left: 240px;
  height: 30px;
  border-style: none;
  border-radius: 7px;
  background-color: rgb(3, 51, 141);
}
